*.classpath
*.project
*.settings
assembly/target/
bagel/target/
core/target/
examples/target/
external/flume/target/
external/kafka/target/
yarn/stable/target/
external/kafka/target/
external/mqtt/target/
external/twitter/target/
external/zeromq/target/
graphx/target/
lib_managed/
mllib/target/
project/project/target/
project/target/
repl/target/
sbt/sbt-launch-0.12.4.jar
streaming/target/
target/
tools/target/
yarn/alpha/target/
yarn/stable/target/

